* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #add8e6;
}

.calculator {
    display: flex;
    background-color: #212121;
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 420px;
    gap: 12px;
    margin: 75px auto 0 auto;
    border-radius: 1rem;
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.5);
}

button {
    font-size: 1.325rem;
    font-weight: 700;
    padding: 35px;
    color: #DFDFDF;
    background-color: #616161;
    border: 0px solid transparent;
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.5);
    border-radius: 50%;
    transition: all .15s ease-in-out;
}

button:hover {
    background: gray;
    color: #000;
    transform: translateY(-0.2rem);
}

.display-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 8px 8px 20px 8px;
    height: 75px;
    width: 100%;
    color: white;
    background-color: rgb(78, 74, 74);
}

.display {
    background-color:rgb(78, 74, 74);
    font-size: 40px;
    margin-right: 10px;
}

.delete, .clear, .equals {
    border-radius: 10px;
    font-size: 25px;
}

.row {
    display: flex;
    background-color: #212121;
    gap: 12px;
}

.delete, .clear {
    flex: 2.5;
}

.row.sixth .equals {
    flex: 4.5;
}

.operator, .number {
    flex: 1;  
}

.author {
    margin-top: 40px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}